{{ form_errors(form) }}

<div class="row">
    <div class="col-12 col-md-5">
        {{ form_row(form.expiryDateTime) }}
        {{ form_row(form.enabled) }}
    </div>
    <div class="col-12 col-md-7">
        {{ form_row(form.identifier) }}
    </div>
</div>

