{{ form_errors(form) }}

<div class="row">
    <div class="col-12 col-md-4">
        {{ form_row(form.identifier) }}
        {{ form_row(form.enabled) }}
    </div>
    <div class="col-12 col-md-8">
        {{ form_row(form.translations) }}
    </div>
</div>
